@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<br />

<a class="btn btn-primary" target="_blank" asp-area="" asp-controller="Home" asp-action="HtmlPdf">Download html pdf</a>
<a class="btn btn-primary" target="_blank" asp-area="" asp-controller="Home" asp-action="CshtmlPdf">Download cshtml pdf</a>
